
body{
    background: #fafafa;
    margin: 0;
}
nav{
    
    background: #FFFFFF;
    height: 3.3em;
    line-height: 3.3em;
    padding: 0 13.3em;
    border-bottom: 1px solid  #DBDBDB;
    
   
}

.logo{
    text-decoration: none;
}

.logo>img{
    vertical-align: middle;
}

.search{
    background: #fafafa;
    margin-left: 19em;
    height: 2em;
    width: 15.5em;
    border: 1px solid #DBDBDB;
}

.search::placeholder{
    text-align: center;
    color: #A7B7DC;
}

.nav-links{
    margin-left: 8em;

}

.nav-links>a{
    margin-left: 1.5em;
    vertical-align: middle;
}

.nav-links i{
    transform: scale(1.6);
    color:#ADADAD;
}

.container {
    padding: 0 15%;

}

.bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
     /* background-color:brown; */
    height:13em;
    padding: 3em 0 0 5em;
    border-bottom: 0.5px solid #DBDBDB;
}

.profile-photo{
    background: brown;
    width: 10em;
    height: 10em;
    border-radius: 50%;
   
}

.profile-photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-info .username{
    font-size: 1.7em;
    color:#545454; 
}

.profile-info button{
    color:#ffffff;
    background-color:#5BA9F2;
    padding: 0.4em;
    width: 6em;
    height:2em;
    border:unset;
    cursor: pointer;
}
.profile-info .user-check{
    color:#ffffff;
    background-color:#5BA9F2;
    padding: 0.4em;
    width:4em;
    height:2em;
    border:unset;
}

.profile-info .chvron{
    color:#ffffff;
    background-color:#5BA9F2;
    padding: 0.4em;
    margin:0 3em 0 0;
    width:4em;
    height:2em;
    border:unset;
}

.gallery-nav{
    height: 3em;
    /* background-color: brown; */
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}